#nav,#nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

#nav {
    background: url('men.png') ;
    font-size: 14px;
    height: 30px;
    position: relative;
    width: 100%;
}

#nav ul {
    background-color: rgb(35,35,35);
    border-radius: 0px 0px 5px 5px;
    position: absolute;    
    z-index: 2;

    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
}



.hsubs  {
    background: url('menu_line.png') no-repeat scroll right 2px;
    float: left;
    position: relative;
    height: 30px;
    padding: 7px 20px 0px 20px;
}



.subs{
    height: 25px;
    padding-top: 10px;
    padding-left: 7px;
}

a {

    color: #ffffff;
    text-decoration: none;
}


#nav .hsubs:hover, #nav .subs:hover{
    background: #000000;
}


#nav li:hover ul {
    left: 0;
    top: 30px;
    width: 250px;

    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}


#lavalamp {
    background: url('lavalamp.png') no-repeat scroll 0 0 transparent;
    height: 16px;
    left: 13px;
    position: absolute;
    top: 0px;
    width: 64px;

    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

#lavalamp:hover {
    -moz-transition-duration: 2000s;
    -ms-transition-duration: 2000s;
    -o-transition-duration: 2000s;
    -webkit-transition-duration: 2000s;
    transition-duration: 2000s;
}

#nav li:nth-of-type(1):hover ~ #lavalamp {
    left: 13px;
}
#nav li:nth-of-type(2):hover ~ #lavalamp {
    left: 90px;
}
#nav li:nth-of-type(3):hover ~ #lavalamp {
    left: 200px;
}
#nav li:nth-of-type(4):hover ~ #lavalamp {
    left: 305px;
}
#nav li:nth-of-type(5):hover ~ #lavalamp {
    left: 403px;
}
#nav li:nth-of-type(6):hover ~ #lavalamp {
    left: 500px;
}
#nav li:nth-of-type(7):hover ~ #lavalamp {
    left: 590px;
}
#nav li:nth-of-type(8):hover ~ #lavalamp {
    left: 700px;
}
#nav li:nth-of-type(9):hover ~ #lavalamp {
    left: 800px;
}